VITE_FIREBASE_API_KEY="AIzaSyDvb3qUEmL-gdUgGJrMe7YpY9C6KhzdIzQ"
VITE_FIREBASE_AUTH_DOMAIN="encuesta-satisfaccion-5210f.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="encuesta-satisfaccion-5210f"
VITE_FIREBASE_STORAGE_BUCKET="encuesta-satisfaccion-5210f.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="882465752583"
VITE_FIREBASE_APP_ID="1:882465752583:web:3d695c82a4158459e4cca2"
